/* ============================================
    TABLET Y DESKTOP (768px en adelante)
   ============================================ */
@media (min-width: 768px) {

    header {
        flex-direction: row;
        text-align: left;
        padding: var(--esp-lg) var(--esp-xl);
    }

    .logo {
        width: 100px;
    }

    .header-texto h1 {
        font-size: 2rem;
    }

    main {
        padding: var(--esp-xl);
    }

    #formulario {
        grid-template-columns: 1fr 1fr;
    }

    .campo-full {
        grid-column: 1 / -1;
    }

    #btn-whatsapp {
        width: auto;
        padding: var(--esp-sm) var(--esp-xl);
    }
}

/* ============================================
    DESKTOP GRANDE (1024px en adelante)
   ============================================ */
@media (min-width: 1024px) {

    .header-texto h1 {
        font-size: 2.4rem;
    }

    .productos-container {
        grid-template-columns: repeat(4, 1fr);
    }
}